body {
  /* sfondo */
  background-image: url(background.jpg);
  background-size: cover;
}

* {
  /* elementi applicati a tutti i tag */
  font-family: 'Poppins', sans-serif;
}

#box {
 /* Contenitore */
  padding: 5% 5% 8%;
  margin: auto;
  margin-top: 30px;
  width: 900px;
  height: auto;
  background-color:rgba(0, 0, 0, 0.5);
  border-radius: 13px;
}

.intestazione {
  text-align: center;
}
.logo {
  width: 230px
}

.titolo {
  color: #00dd00;
  margin-top: -4px;
  margin-bottom: 0;
  font-size: 30px;
  letter-spacing: -0.5%;
}
/* lo spazio che ospita i bottoni */
.barra {
  padding: 5px;
  background-color: #00dd00;
  text-align: center;
}

button {
  background-color: white;
  border: black solid 0.5px;
  padding: 1px 6px;
  font-size: 11px;
  margin: 0px 6px 6px;
  cursor: pointer;
}

.Monopattini {
  text-align: left;
  color: white;
}

 /* definisco un'entity da inserire prima del nome del Monopattino */
h2:before {
  content: ' \25A0';
}
h2{
  font-size: 18px;
  letter-spacing: -0.5%;
  margin-bottom: 0.8%;
}

/* definisco un'entity da inserire prima del'indirizzo del Monopattino */
h3:before {
  content: ' \21A6';
}
h3{
  margin-top: 0;
  margin-bottom: 1px;
  font-size: 14px;
  font-weight: lighter;
}

.barragialla {
  width: 300px;
  height: 30px;
  border-radius: 2px;
  background-color: #f5b453;
}

.barraverde {
  width: 600px;
  height: 30px;
  border-radius: 2px;
  background-color: #00dd00;
}

.barrarossa {
  width: 100px;
  height: 30px;
  border-radius: 2px;
  background-color: #be4141;
}
